.card{
    border-radius: 0.5rem;
    /* width: 90%; */
    height: 15rem;
    border: 1px solid #9DCCDE;
    background-color: #EDFAFF;
    
}
.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-subtitle{
    color: #6b4700;
    font-weight: bold;
}
.bg-dark{
    background: linear-gradient(to bottom, #9be89c 0%,#cdf97d 100%);
    border: none;
    color: green;
}