.card{
    border-radius: 0.5rem;
    width: 21%;
    height: 10rem;
    background-color: #faf2e5;
    /* margin: 20px 20px 0 20px; */
    margin-right: 20px;
}
.card-subtitle{
    color: #6b4700;
    font-weight: bold;
}