.centerscard{
    border-radius: 0.5rem;
    width: 15rem;
    height: 13rem;
    background-color: #faf2e5;
    margin: 0rem 1rem;
}
.slotnums{
    color: #6b4700;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.slotnums span{
    color: red;
}
.booknowbutton{
    position: absolute;
    bottom: 0.5rem;
    right: 29%;
}